@using Resources
@model WebLog.Core.ViewModels.AuthViewModels.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Token)

    <div class="form-group">
        <label>@Global.Password: </label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Ustaw">
    </div>

}