<div ng-app="mainModule" ng-controller="ManageController">
    <div ng-repeat="adv in advertisements">
        {{adv.Text}}
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/angular")
}