@using Resources
@model string

@*@using (Html.BeginForm("RemindPassword", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <label>Email: </label>
            @Html.TextBoxFor(x => x, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x)
        </div>
    }*@

<form action="~/Home/RemindPassword" method="post">
    <div class="form-group">
        <label>@Global.Email:</label>
        <input class="form-control" type="text" name="email" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">@Global.RemindPassword</button>
    </div>
</form>