@model WebLog.Core.ViewModels.AuthViewModels.SignInViewModel
@using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
{


    <div id="content-SignIn">
        <div>

            @Html.TextBoxFor(x => x.Email, new { @class = "input-signin", @placeholder = "email" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div>

            @Html.PasswordFor(x => x.Password, new { @class = "input-signin", @placeholder = "password" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div>
            <div>
                <input type="submit" id="submit-signin" value="Sign In">
            </div>
      
            <div>
                <input type="button" value="Remind password" id="submit-signin2" onclick="location.href = 'RemindPassword';" />
            </div>

        </div>
    </div>
}
