@using Resources
@model WebLog.Core.ViewModels.StudentAccountViewModel

<h1 class="text-light">@(Model.Student.Name + " " + Model.Student.Surname) <span class="mif-drive-eta place-right"></span></h1>
<hr class="thin bg-grayLighter">

<div>
    <table class="table border bordered">
        <thead>
            <tr>
                <td class="sortable-column sort-asc" style="width: 100px">Przedmiot</td>
                <td class="sortable-column">Oceny</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var dict in Model.DictGrades)
            {
                <tr>
                    <td> <h4>@dict.Key</h4></td>
                    <td>
                        @foreach (var grade in dict.Value)
                {
                            @(((int)grade.Grade) + " ")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
