@using Resources
@model WebLog.Core.Models.Subject

<div class="cell auto-size padding20 bg-white manage-content" id="cell-content">
    <h1 class="text-light">@Model.Name <span class="mif-drive-eta place-right"></span></h1>
    <hr class="thin bg-grayLighter">
    
    <div class="image-container image-format-square mouse-pointer">
        <div class="frame img-wrap">
            <img class="image-resize" src="@Model.ImagePath" />
        </div>
        <div class="image-overlay">
            <h2>@Model.Name</h2>
        </div>
    </div>
    
    @foreach (var test in Model.Tests)
    {

        using (Ajax.BeginForm("SolveTest", "Test", new { testId = test.Id}, new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "student-account-content"
        }))
        {
                <input type="submit" class="title" value="@test.Name" />
        }

    }

</div>

