@using Resources
@model List<WebLog.Core.Models.Advertisement>

<div class="cell auto-size padding20 bg-white manage-content" id="cell-content">
    <h1 class="text-light">Ogłoszenia od nauczycieli<span class="mif-drive-eta place-right"></span></h1>
    <hr class="thin bg-grayLighter">
    
    @foreach (var adv in Model)
    {
        if (adv.Visible)
        {
            <div class="tile tile-wide" data-role="tile" ng-repeat="adv in advertisements">
                <div class="panel">
                    <div class="heading">
                        <span class="title">@adv.Title</span>
                    </div>
                    <div class="content adv-text">
                        @adv.Text
                    </div>
                </div>
            </div>
        }
    }
    


</div>