@using Resources
@model  Dictionary<string, Dictionary<string, List<int>>>

<div class="cell auto-size padding20 bg-white manage-content" id="cell-content">
    <h1 class="text-light">Zestawienie ocen <span class="mif-drive-eta place-right"></span></h1>
    <hr class="thin bg-grayLighter">

    @foreach (var subject in Model)
    {
        <h1>@subject.Key</h1>
        <table class="table striped hovered cell-hovered border bordered">
            <thead class="row cells12">
                <tr>
                    <th class="cell colspan3">Uczeń</th>
                    <th class="cell colspan9">Oceny</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in subject.Value)
                {

                    <tr class="row cells12">
                        <td class="cell colspan3"> <h4>@student.Key</h4></td>
                        <td class="cell colspan9">
                            @foreach (var grade in student.Value)
                    {
                                <label>@grade</label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>